.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

.container > section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  height: fit-content;
  /* background-color: white; */
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo {
  font-weight: 900;
  font-size: 30px;
  /* font-size: calc(15px + 0.390625vw); */
  margin: 10px 20px;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navItem {
  margin-right: 10px;
  font-weight: 900;
  font-size: 13px;
}

#navUnderline {
  height: 3px;
  width: 33px;
  background-color: black;
  border-radius: 100vw;
  position: absolute;
  /* left: 7.7%; */
  bottom: 20%;
  transform: translateX(-50%);
  transition: left ease 0.4s, opacity ease 0.4s;
}

.rightNav {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 6%;
  cursor: pointer;
  padding: 0 1rem
}

.languageButton {
  font-weight: 700;
  font-size: 17px;
}

/* =======================================-- */
.ImSection {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  /* border: solid 2px black; */
  /* border-bottom: none; */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ==============-------*/
.projects {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ============================-- */
.contacts {
  height: 100vh;
  position: relative;
  background-color: #E0E5EC;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact {
  font-weight: 700;
  color: #37393b;
}

.contact:not(:last-child) {
  margin-bottom: 0.7rem;
}

.contactLabel {
  margin-right: 1.2rem;
  color: #797c80;
}

.keyboardRow1 {
  display: flex;
}

.pad {
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.4rem 1.5rem 0.4rem;
  position: relative;
  border-radius: 0.4rem;
  background-color: #E0E5EC;
  box-shadow: 4px 4px 6px rgb(163,177,198,0.6),
   -4px -4px 6px rgba(255,255,255, 0.5);
}

.padText {
  font-weight: 900;
  color: #9da0a3;
}

.addressContainer {
  padding: 1.3rem 2.3rem;
  margin: 1.5rem;
  width: fit-content;
  /* position: absolute;
  bottom: 40%;
  right: 40%; */
  border-radius: 0.7rem;
  background-color: #E0E5EC;
  box-shadow: 7px 7px 12px rgb(163,177,198,0.6),
   -7px -7px 12px rgba(255,255,255, 0.5);
}

.accountContainer {
  padding: 1.3rem 2.3rem;
  margin: 1rem 1.7rem 0rem 1.7rem;
  width: fit-content;
  /* position: absolute;
  bottom: 50%;
  right: 80%; */
  border-radius: 0.7rem;
  background-color: #E0E5EC;
  box-shadow: inset 7px 7px 12px rgb(163,177,198,0.6),
   inset -7px -7px 12px rgba(255,255,255, 0.5);
}

.capsLockKey {
  height: 60px;
  width: 90px;
  cursor: pointer;
  margin-right: 3rem;
  margin: 0 3rem 3rem 0;
  position: relative;
  /* position: absolute;
  bottom: 30%;
  left: 5%; */
  border-radius: 0.5rem;
  background-color: #E0E5EC;
  box-shadow: 5px 5px 8px rgb(163,177,198,0.6),
   -5px -5px 8px rgba(255,255,255, 0.5);
}

.shiftKey1 {
  height: 60px;
  width: 90px;
  cursor: pointer;
  margin-right: 3rem;
  position: relative;
  /* position: absolute;
  bottom: 30%;
  left: 5%; */
  border-radius: 0.5rem;
  background-color: #E0E5EC;
  box-shadow: 5px 5px 8px rgb(163,177,198,0.6),
   -5px -5px 8px rgba(255,255,255, 0.5);
}

.shiftText1 {
  font-weight: 900;
  font-size: 12px;
  color: #9da0a3;
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.enterKey {
  height: 100px;
  width: 70px;
  cursor: pointer;
  margin: 0 0 2rem 3rem;
  position: relative;
  /* position: absolute;
  bottom: 30%;
  right: 5%; */
  border-radius: 0.5rem;
  background-color: #E0E5EC;
  box-shadow: 5px 5px 8px rgb(163,177,198,0.6),
   -5px -5px 8px rgba(255,255,255, 0.5);
}

.enterKeyText {
  font-weight: 900;
  font-size: 13px;
  color: #9da0a3;
  position: absolute;
  top: 10%;
  left: 30%;
}

.enterKeyShaper {
  height: 70px;
  width: 10px;
  border-radius: 0.2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #E0E5EC;
  box-shadow: inset -5px -5px 8px rgba(255,255,255, 0.5);
}

.shiftKey2 {
  height: 60px;
  width: 90px;
  cursor: pointer;
  margin-left: 3rem;
  position: relative;
  /* position: absolute;
  bottom: 30%;
  right: 5%; */
  border-radius: 0.5rem;
  background-color: #E0E5EC;
  box-shadow: 5px 5px 8px rgb(163,177,198,0.6),
   -5px -5px 8px rgba(255,255,255, 0.5);
}

.shiftText2 {
  font-weight: 900;
  font-size: 12px;
  color: #9da0a3;
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.contactTitle {
  font-weight: 900;
  font-size: 100px;
  position: absolute;
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: #E0E5EC;
  text-shadow: 5px 5px 8px rgb(163,177,198,0.6),
   -5px -5px 8px rgba(255,255,255, 0.5);
}

.guideToRest {
  position: absolute;
  bottom: 5%;
  right: 5%;
}