.library {
    display: flex;
}

.projectFrame {
    height: 200px;
    width: 240px;
    border-radius: 0.3rem;
    margin: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* ------ */
    background-color: #37EB7B;
    background: linear-gradient(-45deg, #F8E9AC, #FE7C98);
}

.projectFrame > p {
    font-weight: 900;
    font-size: 20px;
}

/* ================================= */
@keyframes backgroundGradient {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.decorativeCircle {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    left: 0%;
    transform-origin: center;
    transform: translate(-50%, 50%);
    background-color: #37EB7B;
    /* background: -webkit-linear-gradient(-45deg,
    #6DAFFC, #37EB7B, #FE7C98); */
    background: linear-gradient(-45deg, #FE7C98, #6DAFFC, #37EB7B);
    background-size: 400% 400%;
	animation: backgroundGradient 5s ease infinite;
    transition: transform 3s;
}

.decorativeCircle:hover {
    transform: scale(1.5);
}
